<div class="left-sidebar">
    <div>
        <ul>
            <li><a href="" ng-click="adStatusFilter()" >All</a></li>
            <li><a href="" ng-click="adStatusFilter('Published')">Published</a></li>
            <li><a href="" ng-click="adStatusFilter('Waiting Approval')">Waiting Approval</a></li>
            <li><a href="" ng-click="adStatusFilter('Inactive')">Inactive</a></li>
            <li><a href="" ng-click="adStatusFilter('Rejected')">Rejected</a></li>
        </ul>
    </div>
</div>