<section>
    <header><h2>Ads name</h2><span>Date</span></header>
    <div class="imgContainer">
        <img src="./img/no-img.png" ng-src="">
    </div>
    <div class="description">
        <p><span>Description ddddddddddddd ddddddddd ddddddd dddddddddddddddddd  </span></p>
        <div>
            <p>Name <span>ng-name</span></p>
            <p>Email: <span>ng-mail</span></p>
            <p>Tel. <span>ng-tel</span></p>

        </div>

    </div>
</section>
<section>
    <header><h2>Ads name</h2><span>Date</span></header>
    <div class="imgContainer">
        <img src="./img/no-img.png" ng-src="">
    </div>
    <div class="description">
        <p><span>Description</span></p>
        <div class="detail-description">
            <p>Name <span>ng-name</span></p>
            <p>Email: <span>ng-mail</span></p>
            <p>Tel. <span>ng-tel</span></p>

        </div>

    </div>
</section>

<nav class="pages">
    <span>First</span>
    <span>Previous</span>
    <ul>
        <li>1</li>
        <li>2</li>
    </ul>
    <span>Next</span>
    <span>Last</span>

</nav>